.footer{
    height: 30vh;
    background-color: #f2f2f2;
    border-top: 1px solid #3d3d3d;
    display: flex;
    flex-direction: column;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding-top: 30px;
    color: #A30000;
}

.footer-content a{
    text-decoration: none;
    color: #A30000;
}

.footer-content a:hover{
    text-decoration: underline;
}

.hours ul, .resources ul, .company ul{
    list-style-type: none;
    line-height: 1.5;
}

.indent{
    padding-left: 10px;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: auto;
}

.logo-footer img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

@media (max-width: 992px){
    .footer{
        height: auto;
        flex-wrap: wrap;
    }
    .footer-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-footer{
        order: 4;
    }
    .resources {
        width: 100%; /* Make resources take full width on small screens */
        text-align: center; /* Center align text */
        padding-top: 10px;
    }
    .hours, .company{
        padding: 10px;
    }
}